
@media (min-width: 1235px) {
  :host{
    background-color: red;
    
  }
}

input{
  background: transparent;
  width: 100%;
  outline: none;
  outline: none;
  margin-left: 16px;
  color: #f4f4f4;
}