<div class="container-item" [ngStyle]="{'background-color': taskColor}">
  <span>
    <h2>{{ tasks.title }}</h2>
    <button class="btn-menu" (click)="changeShowMenu()" ><img src="menu.png" > </button>
  </span>
  <p class="data">{{ tasks.date }}</p>
  <p>{{ tasks.desc }}</p>

  <div class="container-drop-menu" *ngIf="showMenu">
    <a (click)="handleDelet(tasks.id)" > <img src="del (1).png" alt=""> Editar </a>
    <a (click)="handleDelet(tasks.id)"> <img src="edit.png">  Exluir </a>
  </div>
</div>
