<div class="container-item">
  <span>
    <div class="container-title">
      <h2>{{ tasks.title }}</h2>
      <p class="data">{{ tasks.date }}</p>
    </div>

    <button class="btn-menu" (click)="changeShowMenu()" ><img src="menu.png" > </button>
  </span>

  <p class="descTask">{{ tasks.desc }}</p>

  <div class="container-drop-menu" *ngIf="showMenu">
    <a (click)="handleEdit(tasks)"> <img src="edit.png"> Editar </a>
    <a (click)="handleDelet(tasks.id)" > <img src="del (1).png" alt=""> Exluir </a>
  </div>  
</div>
