<div class="w-full flex justify-center h-screen items-center">
  <div class="w-[400px] h-[400px] rounded-md font-sans bg-white p-8">
    <p class="text-2xl font-bold text-gray-800 font-sans text-center"> Login </p>

    <div class="mt-12">
      <div>
        <app-custom-input
          [detailInput]="emailDetails"
        ></app-custom-input>
      </div>
      <div class="mt-4">
        <app-custom-input
          [detailInput]="passwordDetails"
        ></app-custom-input>
      </div>
    </div>

    <button
      class="font-semibold text-white hover:bg-blue-700 h-12 mt-8 bg-blue-600 w-full rounded-md"
      (click)="handleClique()"
    > Logar </button>
  </div>
</div>
