*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

main{
  margin-top: 100px;
}

.container-tasks{
  height: 80vh;
  padding: 8px;
  position: relative;
  max-width: 100%;
  overflow-y: scroll;
}

main {
  margin: auto;
  width: 60%;
}

.header{
  background-color: #DDD;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.btn-search{
  align-items: center;
  background-color: rgb(0, 132, 255);
  border: none;
  border-radius: 4px;

  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;

  margin-left: 8px;
  margin-top: 8px;
  outline: none;
  width: 40px;
}

.container-notFound{
  align-items: center;
  background-color: rgba(230, 0, 0,0.2);
  display: flex;
  justify-content: center;
}
.container-taskCreated{
  align-items: center;
  background-color: rgba(0, 230, 58, 0.2);
  display: flex;
  justify-content: center;
}

.taskNotFound{
  margin: 8px auto;
  align-self: center;

  font-family: sans-serif;
  color: rgb(230, 0, 0);
}

.taskCreated{
  margin: 8px auto;
  align-self: center;

  font-family: sans-serif;
  color: rgb(0, 230, 58);
}

.container-search{
  width: 40%;
  display: flex;
  align-items: center;
}

.btn-search img{
  width: 24px;
  height: 24px;

}

.search{
  width: 100%;
}

.btn-filter{
  border: none;
  outline: none;
  background-color: #EFEFEF;
  color: #333;
  margin: 8px 0px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: all .2s;
}

.btn-filter:hover{
  background-color: #DDD;
}

.btn-newTask{
  background-color: rgb(0, 110, 255);
  border: none;
  outline: none;
  color: #FFF;
  margin: 0px 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: all .2s;
  margin-left: 4px;
}


.btn-loggOut{
  background-color: rgb(230, 0, 0);
  border: none;
  outline: none;
  color: #FFF;
  margin: 0px 8px;
  padding: 8px 8px;
  cursor: pointer;
  border-radius: 4px;
  transition: all .2s;
  margin-left: 4px;
}



